body {
  padding: 20px;
}

#toggleButton {
    display: block;
    margin-bottom: 20px;
}

#displayImage {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: auto;
}
