body {
  padding: 20px;
}

#displayContainer {
    margin: 0 auto;
    max-width: 900px;
}

#toggleButton {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 8px 15px;
    border-radius: 6px;
}

#displayImage {
    display: block;
    width: 100%;
    height: auto;
}
